{% extends 'base.html.twig' %}

{% block body %}
    <h2> Home page</h2>

    Service text: {{ text }}
    
    
    <div>
        
        image: <img src="{{ placeholderImage }}">
        
    </div>
    

{% endblock %}
